nr-edge {
  opacity: var(--fixation-edge-opacity, 100%);
}

nr-bold {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--nr-boldness);
  line-height: var(--nr-line-height, initial);
  text-decoration: var(--nr-line-style) underline 2px;
  text-underline-offset: 3px;
}
