/**
	generate (3) fixation-strength variants
*/
[br-mode=on] br-bold *,
[br-mode=on] br-edge {
  opacity: var(--fixation-edge-opacity, 100%);
}
[br-mode=on][saccades-interval="0"][fixation-strength="1"] br-bold:nth-of-type(1n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="1"] br-bold:nth-of-type(2n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="1"] br-bold:nth-of-type(3n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="1"] br-bold:nth-of-type(4n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="1"] br-bold:nth-of-type(5n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="2"] br-bold:nth-of-type(1n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="2"] br-bold:nth-of-type(1n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="2"] br-bold:nth-of-type(2n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="2"] br-bold:nth-of-type(2n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="2"] br-bold:nth-of-type(3n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="2"] br-bold:nth-of-type(3n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="2"] br-bold:nth-of-type(4n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="2"] br-bold:nth-of-type(4n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="2"] br-bold:nth-of-type(5n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="2"] br-bold:nth-of-type(5n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="3"] br-bold:nth-of-type(1n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="3"] br-bold:nth-of-type(1n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="3"] br-bold:nth-of-type(1n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="3"] br-bold:nth-of-type(2n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="3"] br-bold:nth-of-type(2n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="3"] br-bold:nth-of-type(2n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="3"] br-bold:nth-of-type(3n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="3"] br-bold:nth-of-type(3n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="3"] br-bold:nth-of-type(3n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="3"] br-bold:nth-of-type(4n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="3"] br-bold:nth-of-type(4n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="3"] br-bold:nth-of-type(4n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="3"] br-bold:nth-of-type(5n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="3"] br-bold:nth-of-type(5n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="3"] br-bold:nth-of-type(5n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="4"] br-bold:nth-of-type(1n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="4"] br-bold:nth-of-type(1n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="4"] br-bold:nth-of-type(1n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="0"][fixation-strength="4"] br-bold:nth-of-type(1n + 1) [fixation-strength="4"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="4"] br-bold:nth-of-type(2n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="4"] br-bold:nth-of-type(2n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="4"] br-bold:nth-of-type(2n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="1"][fixation-strength="4"] br-bold:nth-of-type(2n + 1) [fixation-strength="4"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="4"] br-bold:nth-of-type(3n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="4"] br-bold:nth-of-type(3n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="4"] br-bold:nth-of-type(3n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="2"][fixation-strength="4"] br-bold:nth-of-type(3n + 1) [fixation-strength="4"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="4"] br-bold:nth-of-type(4n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="4"] br-bold:nth-of-type(4n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="4"] br-bold:nth-of-type(4n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="3"][fixation-strength="4"] br-bold:nth-of-type(4n + 1) [fixation-strength="4"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="4"] br-bold:nth-of-type(5n + 1) [fixation-strength="1"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="4"] br-bold:nth-of-type(5n + 1) [fixation-strength="2"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="4"] br-bold:nth-of-type(5n + 1) [fixation-strength="3"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-interval="4"][fixation-strength="4"] br-bold:nth-of-type(5n + 1) [fixation-strength="4"] {
  display: inline;
  --fixation-edge-opacity: $activeFixationOpacity;
  font-weight: var(--br-boldness);
  line-height: var(--br-line-height, initial);
  color: var(--saccadesColor);
  text-decoration: var(--br-line-style) underline 2px;
  text-underline-offset: 3px;
}
[br-mode=on][saccades-color=light] br-bold:nth-of-type(4n + 0) {
  --saccadesColor: #4ac069;
}
[br-mode=on][saccades-color=light-100] br-bold:nth-of-type(4n + 0) {
  --saccadesColor: #7dd294;
}
[br-mode=on][saccades-color=dark] br-bold:nth-of-type(4n + 0) {
  --saccadesColor: #2f8947;
}
[br-mode=on][saccades-color=dark-100] br-bold:nth-of-type(4n + 0) {
  --saccadesColor: #1e552c;
}
[br-mode=on][saccades-color=light] br-bold:nth-of-type(4n + 1) {
  --saccadesColor: #604e31;
}
[br-mode=on][saccades-color=light-100] br-bold:nth-of-type(4n + 1) {
  --saccadesColor: #8e7348;
}
[br-mode=on][saccades-color=dark] br-bold:nth-of-type(4n + 1) {
  --saccadesColor: #2a2215;
}
[br-mode=on][saccades-color=dark-100] br-bold:nth-of-type(4n + 1) {
  --saccadesColor: black;
}
[br-mode=on][saccades-color=light] br-bold:nth-of-type(4n + 2) {
  --saccadesColor: #742a4a;
}
[br-mode=on][saccades-color=light-100] br-bold:nth-of-type(4n + 2) {
  --saccadesColor: #a73c6b;
}
[br-mode=on][saccades-color=dark] br-bold:nth-of-type(4n + 2) {
  --saccadesColor: #381424;
}
[br-mode=on][saccades-color=dark-100] br-bold:nth-of-type(4n + 2) {
  --saccadesColor: #050203;
}
[br-mode=on][saccades-color=light] br-bold:nth-of-type(4n + 3) {
  --saccadesColor: #6db1ff;
}
[br-mode=on][saccades-color=light-100] br-bold:nth-of-type(4n + 3) {
  --saccadesColor: #b2d6ff;
}
[br-mode=on][saccades-color=dark] br-bold:nth-of-type(4n + 3) {
  --saccadesColor: #1b85ff;
}
[br-mode=on][saccades-color=dark-100] br-bold:nth-of-type(4n + 3) {
  --saccadesColor: #0063d5;
}